<div>
  <div id="notice">
    <%= notice %>
  </div>
<div class="detail">
<div class="title">
    <strong>Title:</strong>
    <%= @product.title %>
  </p>
  </div>
<div class="description">
  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>
</div>
<div class="image">
  <p>
    <strong>Image url:</strong>
    <%= image_tag(@product.image_url, class: 'image') %>
  </p>
</div>
<div class="dt_price">
  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>
</div>
  <%= link_to 'Edit' , edit_product_path(@product) %> |
    <%= link_to 'Back' , products_path %>
</div>
</div>